<nav>
  <div class="nav-wrapper blue darken-2 ">
    <%= image_tag 'logo.svg',size: "62x62", class: "img-responsive2" %>
    <a href="/" class="brand-logo"><i><b><h4>BluCollar</h4></b></i></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Messages", messages_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "My Service", service_path(:id => current_user.id) %></li>
        <li>Welcome <%= current_user.email %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: 'DELETE' %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to "Messages", messages_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "My Service", service_path(:id => current_user.id) %></li>
        <li>Welcome <%= current_user.email %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: 'DELETE' %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>

</nav>