<!DOCTYPE html>
<html>
  <head>
    <title>MatchApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js'%>

  </head>
    <%= react_component 'Nav' %>
  <body>
<<<<<<< HEAD
    <div class="right">
    <% if user_signed_in? %>
      Welcome <%= current_user.email %>
      <%= link_to "logout", destroy_user_session_path, method: 'DELETE' %>
    <% else %>
      Please 
      <%= link_to "login", new_user_session_path %> 
      or 
      <%= link_to "signup", new_user_registration_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
    <%= yield %>
=======
    <%= react_component 'Main',
    img_src: '/images/home-banner-clean.png' %>
    
>>>>>>> template/about
  </body>
</html>
